* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
}
.menu-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
.menu-links-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #212121;
  text-decoration: none;
  font-style: normal;
}
.menu-links-item:hover,
.menu-links-item:focus {
  color: #2196f3;
  cursor: pointer;
}
.contact-links {
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 50px;
  margin-left: 371px;
}
.contact-links-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #757575;
  text-decoration: none;
  font-style: normal;
}
.contact-links-item:hover,
.contact-links-item:focus {
  color: #2196f3;
  cursor: pointer;
}
.portfolio-button {
  list-style-type: none;
}
.portfolio-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}
.portfolio-button-item:hover,
.portfolio-button-item:focus {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
a {
  margin: 0px;
}
.menu-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: inherit;
  margin-top: 24px;
  margin-bottom: 25px;
  padding: 60 px 0;
}
.menu-button:hover,
.menu-button:focus {
  cursor: pointer;
}
.footer-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 25px;
  padding: 60px 0;
}
.web-button {
  color: #2196f3;
}

.hero {
  background: #2f303a;
  height: 600px;
  margin: 0px;
  text-align: center;
  padding: 200 px 0;
}
.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-button {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  stroke: solid;
  border-radius: 4px;
  border: none;
  text-align: center;
  min-width: 200px;
  padding: 10px 42px;
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
}
footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer-links {
  margin-top: 20px;
  list-style-type: none;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  font-style: normal;
}
.footer-links-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  text-decoration: none;
  font-style: normal;
}
.footer-gap :not(:last-child) {
  margin-bottom: 9px;
}
.contact-links-item:hover,
.contact-links-item:focus {
  color: #2196f3;
  cursor: pointer;
}
.team {
  background: #f5f4fa;
  width: 100%;
  margin: 0px;
  align-items: center;
}
.team-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.team-header {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
.team-item {
  background: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}
.team-jobs {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
  text-align: center;
}
.advantages {
  background: #ffffff;
  padding-bottom: 0px;
  margin: 0px;
  justify-content: space-between;
  gap: 30px;
}
.advantages-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.advantages-item {
  width: 270px;
  height: 101px;
}
.advantages-header {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 10px;
}
.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  width: 270px;
}
.experience {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.experience-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.experience-header {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
.experience-item {
  flex-basis: calc((100%-30px) / 3);
  padding: 10px;
}
.portfolio-item {
  list-style-type: none;
}
.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.container {
  padding: 0 15px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: solid 1px;
  border-color: #ececec;
}
.navigation {
  width: 254px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 30%;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}
.contact {
  justify-content: space-between;
  align-items: center;
}
